:root {
    --background: #130e0e;
    --primary: #FF9950;
    --default: #ecf0f8e9;
}

@font-face {
    font-family: 'relieve';
    src: url('/fonts/relieve/Relieve.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'game-squid';
    src: url('/fonts/game_of_squids/Game Of Squids.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.skill-title{
    font-family: 'game-squid', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    margin: 10px;
}
section.conteiner-skills{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

div img.icon{
    height: 50px;
    width: 50px;
    border: 1px solid red;
    padding: 8px;
}

/* Animación de sombreado */
@keyframes shadowFade {
  0% {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    opacity: 1;
    transform: translateX(0);
  }
}

/* Estado inicial de los iconos */
.icon {
  opacity: 0;
  animation: shadowFade 0.6s ease-out forwards;
}

/* Delays consecutivos para cada icono (de derecha a izquierda) */
#one { animation-delay: 0.9s; }
#two { animation-delay: 0.8s; }
#three { animation-delay: 0.7s; }
#four { animation-delay: 0.6s; }
#five { animation-delay: 0.5s; }
#six { animation-delay: 0.4s; }
#seven { animation-delay: 0.3s; }
#eigth { animation-delay: 0.2s; }
#nine { animation-delay: 0.1s; }
#ten { animation-delay: 0s; }
#eleven { animation-delay: 0.1s; }
#twelf { animation-delay: 0.2s; }
#thirteen { animation-delay: 0.3s; }
#fourteen { animation-delay: 0.4s; }
#fiveteen { animation-delay: 0.5s; }
#sixteen { animation-delay: 0.6s; }
#seventeen { animation-delay: 0.7s; }
#eighteen { animation-delay: 0.8s; }



/* CSS para Button.jsx */
.background {
    background: var(--background);
    display: grid;
    place-items: center;
    width: 250px;
    height: 60px;
    margin: 0 auto;
    border-radius: 8px;
}

.button {
    color: var(--default);
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px; 
    width: 100%; 
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in;
}

.button:hover {
    color: var(--primary);
}

.button svg {
    height: 40px;
    left: 0;
    top: 0; 
    position: absolute;
    width: 100%; 
}

.button rect {      
    fill: none;
    stroke: var(--default);
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.button:hover rect {
    stroke-width: 5;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: 48;
    stroke: var(--primary);
    transition: all 2s cubic-bezier(
        0.22, 1, 0.25, 1
    );
}
